.banner {
    background: var(--url);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

i {
    border-radius: 10px;
    padding: 1rem 3rem;
    transition: 0.3s;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
}

i:hover {
    transform: scale(1.02);
}

iframe {
    border-radius: 10px;
    border-color: black;
}

.banner img {
    border-radius: 10px;
}

@media only screen and (max-width:480px) {
    .banner {
        padding: 5rem 1.5rem;
    }

    .banner:first-of-type {
        padding: 2rem;
    }

    .banner img {
        width: 100%;
    }

    iframe {
        height: 230px;
        width: 100%;
    }

    .icon_container {
        width: 100%;
    }

    i {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) {
    .banner {
        padding: 3rem 0;
    }

    .banner img {
        height: 450px;
        width: 450px;
    }

    iframe {
        width: 550px;
        height: 360px;
    }
}