---
import Layout from "../layouts/Layout.astro";
import Banner from "../layouts/banner/index.astro";
---

<style>
	.icon_flex {
		display: flex;
		gap: 10px;
	}

	@media only screen and (max-width: 480px) {
		.icon_container {
			width: 100%;
		}

		.icon_flex {
			flex-direction: column;
		}
	}
</style>
<Layout>
	<main>
		<Banner
			image="--url: url(/6.png); background-size: cover; background-position:right;"
		>
			<h2>LIL G-MES</h2>
			<img src="/7.jpg" alt="" />
			<h3>ASCOLTA LE HAINE</h3>
			<iframe src="https://www.youtube.com/embed/UD0-55PIbuE"> </iframe>
			<div class="icon_container">
				<a
					href="https://www.youtube.com/watch?v=UD0-55PIbuE"
					target="_blank"
				>
					<i class="fab fa-youtube" style="background-color: #ff0000">
						YOUTUBE</i
					>
				</a>
			</div>
		</Banner>
		<Banner image="--url: url(/1.jpg);">
			<h3>ASCOLTA FAME AMARA</h3>
			<iframe src="https://www.youtube.com/embed/cDISLZ4Whfk"> </iframe>
			<div class="icon_container">
				<a
					href="https://www.youtube.com/watch?v=cDISLZ4Whfk"
					target="_blank"
				>
					<i class="fab fa-youtube" style="background-color: #ff0000">
						YOUTUBE</i
					>
				</a>
			</div>
		</Banner>
		<Banner
			image="--url: url(/5.png); background-size: cover; background-position:left;"
		>
			<h3>ASCOLTA SOGNI</h3>
			<iframe src="https://www.youtube.com/embed/QZEk4Zdmspw"> </iframe>
			<div class="icon_container">
				<a
					href="https://www.youtube.com/watch?v=QZEk4Zdmspw"
					target="_blank"
				>
					<i class="fab fa-youtube" style="background-color: #ff0000">
						YOUTUBE</i
					>
				</a>
			</div>
		</Banner>
		<Banner image="--url: url(/3.jpg); background-position: bottom left;">
			<h3>ASCOLTA NOVA VITA FREESTYLE</h3>
			<iframe src="https://www.youtube.com/embed/NAAXeS5cgwI"> </iframe>
			<div class="icon_container">
				<a
					href="https://www.youtube.com/watch?v=NAAXeS5cgwI"
					target="_blank"
				>
					<i class="fab fa-youtube" style="background-color: #ff0000">
						YOUTUBE</i
					>
				</a>
			</div>
		</Banner>
		<Banner image="--url: url(/4.png);">
			<h3>ASCOLTA ROULETTE</h3>
			<iframe src="https://www.youtube.com/embed/CeMpmWQiew0"> </iframe>
			<div class="icon_container icon_flex">
				<a
					href="https://open.spotify.com/track/5HJbq9RyvNzipTgKVV1I0p?si=4d9c027de4754112"
					target="_blank"
				>
					<i class="fab fa-spotify" style="background-color: #1db954">
						SPOTIFY</i
					>
				</a>
				<a
					href="https://www.youtube.com/watch?v=CeMpmWQiew0"
					target="_blank"
				>
					<i class="fab fa-youtube" style="background-color: #ff0000">
						YOUTUBE</i
					>
				</a>
			</div>
		</Banner>
	</main>
</Layout>
