---
import Layout from '../components/Layout.astro';
import Banner from '../components/Banner.astro';
---

<Layout>
  <main>
    <Banner style='--url: url(/le-haine-cover.png); background-size: cover; background-position:right;'>
      <h2>LIL G-MES</h2>
      <img src='/le-haine.jpg' alt='Lil G-Mes - Le Haine' />
      <h3>ASCOLTA LE HAINE</h3>
      <iframe src='https://www.youtube.com/embed/UD0-55PIbuE'> </iframe>
      <div class='icon-container'>
        <a href='https://www.youtube.com/watch?v=UD0-55PIbuE' target='_blank'>
          <i class='fab fa-youtube'> YOUTUBE</i>
        </a>
      </div>
    </Banner>
    <Banner style='--url: url(/equilibrio.png); background-size: cover;'>
      <h3>ASCOLTA EQUILIBRIO</h3>
      <iframe src='https://www.youtube.com/embed/KkLfonVNOGw'> </iframe>
      <div class='icon-container'>
        <a href='https://www.youtube.com/watch?v=KkLfonVNOGw' target='_blank'>
          <i class='fab fa-youtube'> YOUTUBE</i>
        </a>
      </div>
    </Banner>
    <Banner style='--url: url(/fame-amara.jpg);'>
      <h3>ASCOLTA FAME AMARA</h3>
      <iframe src='https://www.youtube.com/embed/cDISLZ4Whfk'> </iframe>
      <div class='icon-container'>
        <a href='https://www.youtube.com/watch?v=cDISLZ4Whfk' target='_blank'>
          <i class='fab fa-youtube'> YOUTUBE</i>
        </a>
      </div>
    </Banner>
    <Banner style='--url: url(/sogni.png); background-size: cover; background-position:left;'>
      <h3>ASCOLTA SOGNI</h3>
      <iframe src='https://www.youtube.com/embed/QZEk4Zdmspw'> </iframe>
      <div class='icon-container'>
        <a href='https://www.youtube.com/watch?v=QZEk4Zdmspw' target='_blank'>
          <i class='fab fa-youtube'> YOUTUBE</i>
        </a>
      </div>
    </Banner>
    <Banner style='--url: url(/nova-vita.jpg); background-position: bottom left;'>
      <h3>ASCOLTA NOVA VITA FREESTYLE</h3>
      <iframe src='https://www.youtube.com/embed/NAAXeS5cgwI'> </iframe>
      <div class='icon-container'>
        <a href='https://www.youtube.com/watch?v=NAAXeS5cgwI' target='_blank'>
          <i class='fab fa-youtube'> YOUTUBE</i>
        </a>
      </div>
    </Banner>
    <Banner style='--url: url(/roulette.png);'>
      <h3>ASCOLTA ROULETTE</h3>
      <iframe src='https://www.youtube.com/embed/CeMpmWQiew0'> </iframe>
      <div class='icon-container'>
        <a href='https://open.spotify.com/track/5HJbq9RyvNzipTgKVV1I0p?si=4d9c027de4754112' target='_blank'>
          <i class='fab fa-spotify'> SPOTIFY</i>
        </a>
        <a href='https://www.youtube.com/watch?v=CeMpmWQiew0' target='_blank'>
          <i class='fab fa-youtube'> YOUTUBE</i>
        </a>
      </div>
    </Banner>
  </main>
</Layout>

<style>
  .icon-container:last-child {
    display: flex;
    gap: 10px;
  }

  .fa-youtube {
    background-color: #ff0000;
  }

  .fa-spotify {
    background-color: #1db954;
  }

  @media only screen and (max-width: 480px) {
    .icon-container {
      width: 100%;
    }

    .icon-flex:last-child {
      flex-direction: column;
    }
  }
</style>
