---
import "../styles/global.css";
---

<html lang="it" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-widht, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap"
			rel="stylesheet"
		/>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-1J58CN12EQ"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-1J58CN12EQ");
		</script>
		<script
			src="https://kit.fontawesome.com/d41d0522dc.js"
			crossorigin="anonymous"
		></script>
		<title>Lil G-Mes</title>
	</head>
	<body>
		<slot />
	</body>
</html>
